.country-list-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.country-list,
.selected-country-list {
  width: 45%;
}

.country-list h1,
.selected-country-list h1 {
  text-align: center;
}

.country-list > div,
.selected-country-list > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 두 열로 구성된 그리드 */
  gap: 10px;
}

.separator {
  border-left: 2px dashed #ccc;
  height: 100%;
}

.country-card {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* 수직 레이아웃 */
  align-items: center; /* 중앙 정렬 */
  gap: 10px;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.country-flag {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 2px solid #000; /* 국기 이미지에 테두리 추가 */
  border-radius: 5px; /* 테두리를 둥글게 설정 */
}

.country-name {
  width: 100%; /* 부모 컨테이너에 맞추기 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 말줄임표 추가 */
}
